# Logs
logs
*.log


*/build/
*/dist/
**/node_modules/*
**/.angular/cache/*
frontend/bookmarker/.angular
frontend/bookmarker/dist/*
frontend/bookmarker/.vscode/*
*/.sass-cache/
/backend/src/database/sqlite/data.sqlite

# Compiled output
*/tmp
*/out-tsc
*/bazel-out

# Node
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
*/.angular/cache
*/.sass-cache/
*/connect.lock
*/coverage
*/libpeerconnection.log
*?/testem.log
*/typings

# System files
.DS_Store
Thumbs.db
